*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    background-color: #F7F6F2;
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: beige;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    font-size: 2.5rem;
}
.heading span{
    color: rgb(134, 134, 134);
    text-transform: uppercase;
}
.header{
    background-color: #C8C6C6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1,5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 3rem;
}
.header .navbar a{
    margin: 0 1rem ;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.header.navbar a:hover{
    color: rgb(255, 248, 248);
}

.header .icons div{
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.header .icons div:hover{
    color:#000;
}

.header .fa {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    margin-left: 2rem;
  }
  
  .header .fa:hover {
      opacity: 0.7;
  }
  .header .fa-user{
      color: rgb(0, 0, 0);
  }
  .header .fa-shopping-cart{
      color : rgb(0, 0, 0)
  }

#menu-btn{
    display: none;
}
.jumbotron{
    padding: 2rem 1rem;
    background-color: #D3DEDC;
}

.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items:center;
}

.home .content{
    max-width: 40rem;
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
}

.home .content p{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#000;
}

.home .image img 
{
    width:80%;
    height: auto;
    
}

  @media only screen and (min-width: 1400px) {
    p {
        font-size: 20px
    }
  }
  


@media (max-width:991px){


    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:880px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: rgb(255, 246, 246);
        width: 30rem;
        height: calc(100vh - 9.5rem);
        padding-right: 0ch;
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color: #000;
        display: block;
        margin:1rem;
        padding:1rem;
        font-size: 1.4rem;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
